.command-conteiner {
    display: flex;
    justify-content: center;
    align-items: end;
}
.command {
    display: flex;
    margin: 20px;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}