body {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 247, 194);
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}